<div
  class="d-flex justify-content-center align-items-center m-8"
>
  <section class="property-binding">
    <article>
      <h1>Interporlation / Interpolação</h1>
      <p>String com Interpolação{{ url }}</p>
      <p>Resultado de 1 + 1 e {{ 1 + 1 }}</p>
      <p>Resultado de 1 + 1 nao e {{ 1 + 1 + getValor() }}</p>
      <p>
        Curso de angular e gosto do curso =
        {{ cursoAngular && getCurtirCurso() }}
      </p>
    </article>

    <article>
      <h1>Property Binding</h1>
      <img src="{{ urlImage }}" />
      <br/>
      <img [src]="urlImage" />
    </article>
    <br />
    <article>
      <h3>Class e Style Binding</h3>
      <div>
        Selecione uma classe:
        <select #classe (change)="(0)">
          <option value="alert-success">Sucesso</option>
          <option value="alert-info">Info</option>
          <option value="alert-warning">Warning</option>
          <option value="alert-danger">Danger</option>
        </select>

        <br /><br />

        <div class="alert {{ classe.value }} " role="alert">
          Texto colorido conforme valor do combobox
        </div>

        <div
          class="alert"
          role="alert"
          [class.alert-success]="classe.value == 'alert-success'"
        >
          Sucesso
        </div>
        <div
          class="alert"
          role="alert"
          [class.alert-info]="classe.value == 'alert-info'"
        >
          Info
        </div>
        <div
          class="alert"
          role="alert"
          [class.alert-warning]="classe.value == 'alert-warning'"
        >
          Warning
        </div>
        <div
          class="alert"
          role="alert"
          [class.alert-danger]="classe.value == 'alert-danger'"
        >
          Danger
        </div>

        <div
          class="alert alert-danger"
          role="alert"
          [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'"
        >
          Esse texto somente aparece em caso de erro
        </div>
      </div>
    </article>
  </section>

  <section>
    <article>
      <h3>Event Binding</h3>
      <div>
        <button (click)="botaoClicado()" class="btn btn-primary">Clique</button>
      </div>

      <br /><br />

      <input
        #campoInput
        type="text"
        (keyup)="onKeyUp($event)"
        (keyUp.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
      />

      <p>Valor atual: {{ valorAtual }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p>

      <br/>

      <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver == true"
      >
        Passe o mouse aqui!</span
      >
      <br />
    </article>
  </section>
  <br>
  <app-meu-form></app-meu-form>

  <section class="input-output-properties">
    <article>
      <h3> Input/Output Properties </h3>
    </article>
  </section>
</div>
