<section class="two-way-binding">
  <article>
    <h3>Two-way data binding</h3>
    <div>
      <input type="text" #input [value]="nome" (input)="nome = input.value" />
      <br>
      <input type="text" #input [ngModel] = "nome" (input)="nome = input.value" />
      <br/>
      <input type="text" [(ngModel)]="nome" />
      <br>
      <input type="text" bindon-ngModel="nome" /> <!-- Forma vvv do input acima-->

      <p>Voce digitou: {{ nome }}</p>
    </div>

    <br>

    <div>

      <input type="text" [(ngModel)] = "pessoa.nome">
      <input type="text" [(ngModel)] = "pessoa.end.rua">

      <p>Sou o {{pessoa.nome}} e moro na rua {{pessoa.end.rua}}</p>

    </div>
  </article>
</section>
